* {
    box-sizing: border-box;
}

html, body {
    color: #0c0c0c;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #383737;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 20px;
}

.title {
    visibility: visible;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 20px;
    padding: 0;
    position: relative;
    height: 25px;
    width: 25px;
    z-index: 25;
}

p {
    font-size: 19px;
    margin: 20px 20px 20px 0;
    line-height: 2.0;   
}

img {
    max-height: 400px;
}

.res-title {
    display: none;
}


@media screen and (min-width: 951px) {

.res-img {
    display: none;
}

.title {
    visibility: hidden;
}

.res-title {
    display: block;
}

}

@media screen and (max-width: 400px) {
    img {
        max-height: 200px;
    }
}