.mobilemenu .footer {
    padding: 60px;
}

.mobilemenu .footer p {
    color: #000;
    margin: 5px 0;
}

.mobilemenu .footer h3 {
    margin: 0;
}

footer {
    display: flex;
    padding: 60px 0;
    justify-content: space-around;
}

footer ul p {
    font-weight: 700;
    margin: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer svg {
    width: 25px;
}

@media screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}