.mobilemenu {
    position: fixed;
    height: 100%;
    width: 50%;
    background-color: #fff;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 20;
}

.mobilemenu--animation {
    transform: translateX(0%);
}

.mobilemenu__ul {
    list-style-type: none;
    margin: 0;
    padding: 100px 60px 0;
}

.mobilemenu__li {
    margin: 20px 0;
}

.mobilemenu__a, .subtitle {
    color: #222;
    display: inline;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.mobilemenu__a:before, .subtitle:before {
    width: 100%;
    right: 0;
    transition: width .3s .1s;
}

.mobilemenu__a:after, .mobilemenu__a:before, .subtitle:after, .subtitle:before {
    content: "";
    position: absolute;
    bottom: -5px;
    z-index: -1;
    display: block;
    height: 20px;
    background: #f5c32d;
}

.mobilemenu__a:after, .mobilemenu__a:hover:before, .subtitle:after, .subtitle:hover:before {
    width: 0;
    transition: width .3s;
}

.mobilemenu__a:after, .subtitle:after {  
    left: 0;
}

.mobilemenu__a:hover:after, .subtitle:hover:after {
    width: 100%;
    transition: width .3s .1s;
}

.mobilemenu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.mobilemenu__overlay--animation {
    opacity: 1;
    visibility: visible;
}

.subtitle--margin {
    margin: 20px 20px 20px 0;
}

.side-content {
    background-image: url('images/hot-air-balloon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
}

.side-content__sidebar {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 100vh;
    padding: 150px 64px 150px 120px;
}

.side-content__subtitle, .more-info__subtitle {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    display: inline-block;
}

.side-content__subtitle:before, .more-info__subtitle:before {
    content: " ";
    position: absolute;
    top: -9%;
    left: -10%;
    z-index: -1;
    display: block;
    width: calc(100% + 220px);
    height: 100%;
    background-color: #ffd248;
}

.side-content__headline, .more-info__headline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-content__headline h3, .more-info__headline h3 {
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 22.3px;
}

.side-content__span, .more-info__span {
    position: relative;
    display: block;
    margin-left: 1rem;
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.side-content__firstp {
    font-size: 18px;
    margin: 0;
    padding-bottom: 16px;
}

.side-content__lastp {
    margin: 0;
    position: relative;
    z-index: 2;
}

.more-info {
    display: flex;
    padding: 100px;
    min-height: 100vh;
}


.more-info__bg-split {
    width: 70%;
}

.more-info__bg-img {
    background-image: url('images/sunset.jpg');
    height: 100%;
    width: 100%;   
}

.more-info__split-text {
    width: 30%;
    padding-left: 50px;
}


#icon-hamburger rect {
    transition: all 0.5s ease;
}

#icon-hamburger.rect rect:first-child {
    transform: rotate(35deg) translate(3px, -1px);
}

#icon-hamburger.rect rect:nth-child(2) {
    transform: rotate(-35deg) translate(-7px, 1px);

}

#icon-hamburger.rect rect:nth-child(3) {
    opacity: 0;
}

@media screen and (max-width: 1024px) {
    .side-content__sidebar {
        padding: 50px;
        width: 100%;
    }
}