/* base style to make the owljs images show up on screen */

.outer-carousel div.bg-img, .outer-carousel .owl-carousel, .outer-carousel .owl-stage-outer, .outer-carousel .owl-stage, .outer-carousel .owl-item,
.second-carousel div.bg-img, .second-carousel .container-carousel-2 .owl-carousel, .second-carousel .owl-stage-outer, .second-carousel .owl-stage,
.second-carousel .container-carousel-2 .owl-item {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 20px;
}

@keyframes box-animation {
    0% {
        height: 0;
   }
    100% {
        height: 200px;
   }
}
.bg-img {
    background-position: 50%;
    position: relative;
}

.outer-carousel {
    display: none;
}

@media screen and (min-width: 951px) {
    .outer-carousel {
        display: block;
        width: 70%;
        max-width: 70%;
        position: relative;
   }

   .outer-carousel__content {
        width: 30%;
        padding-right: 60px;
   }
    .outer-carousel div.caption {
        position: absolute;
        height: 0;
        top: -43px;
        left: 10%;
        font-size: 100px;
        background-color: gold;
        width: 300px;
        z-index: 15;
   }
    .outer-carousel div.special {
        position: absolute;
        height: 0;
        top: -43px;
        left: 10%;
        font-size: 100px;
        background-color: rgba(236, 234, 234, 0.8);
        width: 300px;
        z-index: 15;
   }
    .animation-enter-yellow {
        animation: box-animation, box-animation;
        animation-delay: 1s, 4s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-direction: normal, reverse;
        animation-fill-mode: forwards;
   }
    .animation-enter-gray {
        animation: box-animation, box-animation;
        animation-delay: 0.5s, 5s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-direction: normal, reverse;
        animation-fill-mode: forwards;
   }
    .container {
        display: flex;
        flex-direction: unset;
        min-height: 90vh;
        height: 90vh;
        padding: 20px 71px 100px;
   }
    .owl-stage {
        display: block;
   }
}


/* second carousel */

.second-carousel {
    display: flex;
    padding: 100px;
    min-height: 100vh;
    height: 100vh;
}

.second-carousel .bg {
    position: absolute;
    background-color: #ffd248;
    transform: translateX(-160px);
    height: 250px;
    width: 100%;
    z-index: 1;
}

.second-carousel .container-carousel-2  {
    width: 60%;
    height: 100%;
}
.second-carousel .owl-theme .owl-nav .owl-prev, .second-carousel .owl-theme .owl-nav .owl-next:last-child {
    display: none;
}

.second-carousel .container-carousel-2-text {
    padding-left: 64px;
    margin-top: 3rem;
    width: 37%;
    position: relative;
}

.second-carousel .container-carousel-2-text .owl-dot span {
    width: 15px;
    height: 15px;
    background-color: rgba(0,0,0,.3);
}

.second-carousel .container-carousel-2-text .owl-controls {
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    padding-bottom: 16px;
}

.second-carousel .owl-theme .owl-nav [class*=owl-] {
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}
.second-carousel .container-carousel-2-text .owl-item div {
    padding-left: 50px;
}

.second-carousel .container-carousel-2-text .owl-item div h3, .second-carousel .container-carousel-2-text .owl-item div h2,
.side-content__sidebar .side-content__subtitle h2 {
    margin: 0 0 4px 0;
}

.second-carousel .container-carousel-2-text .owl-item div h2, .side-content__sidebar .side-content__subtitle h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.95rem;
    text-transform: uppercase;
}

.second-carousel .container-carousel-2-text .owl-item div p {
    margin: 0;
    line-height: 2.125rem;
}

.second-carousel .container-carousel-2-text .owl-item div p a{
    padding: 0 50px 0 10px
 }

.second-carousel .container-carousel-2-text .owl-item div span::after {
    content: " ";
    position: relative;
    left: 10px;
    top: -7px;
    display: inline-block;
    height: 2px;
    width: 89px;
    background-color: #fff;
}

.second-carousel .container-carousel-2-text .owl-item div span {
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}

.second-carousel .container-carousel-2-text .owl-carousel {
    margin-top: 80px;
}

@media screen and (max-width: 961px) {
    .second-carousel .container-carousel-2-text {
        padding: 32px 0 0 0;
        margin: 0;
        width: 100%;
    }

    .second-carousel .container-carousel-2-text .bg {
        height: 100px;
    }

    .second-carousel .container-carousel-2-text .owl-item div, .second-carousel .container-carousel-2-text .owl-controls {
        padding-left: 0;
    }

    .second-carousel {
        padding: 50px 30px;
        flex-direction: column;
    }

    .second-carousel .container-carousel-2-text .owl-carousel {
        margin-top: 16px;
    }

    .second-carousel .container-carousel-2-text .owl-item div h2 {
        font-size: 41px;
    }

    .second-carousel .container-carousel-2 {
        max-height: 300px;
        height: 100vh;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .second-carousel .bg {
        transform: translateX(-40px)
    }
}