<div class="container">
  <div class="outer-carousel__content">
    <h1 class="res-title">{{ site.title }}</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        Quisque interdum quam ac massa pulvinar, id efficitur enim porta.
    </p>
    <h3 class="subtitle--margin"><a class="subtitle" href="#">portfolio</a></h3>
  </div>
  <img class="res-img" src="{{ site.baseurl}}/images/snowman-1.jpg " alt="snowman">
    <div class="outer-carousel">
        <div class="special animation-enter-gray"></div>
        <div class="caption animation-enter-yellow"></div>
        <div class="owl-carousel">
          <div class="bg-img" style="background-image:url('images/snowman-1.jpg')">

          </div>
          <div class="bg-img" style="background-image:url('images/snowman-2.jpg')">
          </div>
          <div class="bg-img" style="background-image:url('images/snowman-3.jpg')">
          </div>

        </div>
      </div>
</div>
