<section class="side-content">
    <div class="side-content__sidebar">
        <div class="side-content__subtitle">
            <div class="side-content__headline">
                <h3>process</h3>
                <span class="side-content__span"></span>
            </div>
            <h2>
                cool 
                <br />
                design
            </h2>
        </div>
        <div class="side-content__content">
            <p class="side-content__firstp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Quisque faucibus quam nec erat dignissim, vehicula luctus tellus tincidunt. 
            </p>
            <p class="side-content__lastp">
                <a class="subtitle" href="#">more info</a>
            </p>
        </div>
    </div>
</section>
<section class="more-info">
    <div class="more-info__bg-split">
        <div class="more-info__bg-img">

        </div>
    </div>
    <div class="more-info__split-text">
        <div class="more-info__subtitle more-info__subtitle--pos">
            <div class="more-info__headline">
                <h3>Approach</h3>
                <span class="more-info__span"></span>
            </div>
            <h2>hello there</h2>
        </div>
        <div>
            <p class="more-info__firstp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Quisque faucibus quam nec erat dignissim, vehicula luctus tellus tincidunt. 
            </p>
            <p class="more-info__lastp">
                <a class="subtitle" href="#">more info</a>
            </p>
        </div>
    </div>
</section>
<section class="blog">
    <div class="blog__headline">
        <div class="blog__subtitle">
            <div class="blog__title">
                <h3>blog</h3>
                <span class="blog__span"></span>
            </div>
            <h2>Lorem ipsum dolor.</h2>
        </div>
    </div>
    <div class="blog__container">
        <div class="blog__wrapper">
            <div class="blog__div">
                <div class="blog__bg-img">
            
                </div>
            </div>
            <div class="blog__div">
                <div class="blog__bg-img">
                
                </div>
            </div>
        </div>
    </div>
</section>