<section class="side-content">
    <div class="side-content__sidebar">
        <div>
            <div class="side-content__subtitle">
                <div class="side-content__headline">
                    <h3>process</h3>
                    <span class="side-content__span"></span>
                </div>
                <h2>
                    cool 
                    <br />
                    design
                </h2>
            </div>
        </div>
        <div class="side-content__content">
            <p class="side-content__firstp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Quisque faucibus quam nec erat dignissim, vehicula luctus tellus tincidunt. 
            </p>
            <p class="side-content__lastp">
                <a class="subtitle" href="#">more info</a>
            </p>
        </div>
    </div>
</section>