<div class="mobilemenu">
    <ul class="mobilemenu__ul">
        <li class="mobilemenu__li"><a class="mobilemenu__a" href="#">home</a></li>
        <li class="mobilemenu__li"><a class="mobilemenu__a" href="#">portfolio</a></li>
        <li class="mobilemenu__li"><a class="mobilemenu__a" href="#">stream</a></li>
        <li class="mobilemenu__li"><a class="mobilemenu__a" href="#">blog</a></li>
        <li class="mobilemenu__li"><a class="mobilemenu__a" href="#">contact</a></li>
    </ul>

    {% include html/footer.html %}
</div>